<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>loginForm</h1>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div>
            <label for="username">Email:</label>
            <input type="text" id="email" name="email" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        {% if form.non_field_errors %}
        <div class="error">
            {{ form.non_field_errors }}
        </div>
        {% endif %}
        <button type="submit">Login</button>
    </form>
    <p>don't have an account yet, <a href="{url 'authentication:signup'}">signup</a>
    </p>
    
</body>
</html>